[defaults]
# Relative paths are resolved against this configuration file.
inventory = ./inventory
host_key_checking = False
# Set the SSH login account here.
# remote_user = your_ssh_user

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
